.welcomeSection {
	background-image: url('https://image.tmdb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/2lBOQK06tltt8SQaswgb8d657Mv.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.welcomeSection .welcomeText {
	padding: 36px 36px 0;
	color: white;
}
.welcomeSection .searchArea {
	padding: 9px 36px 36px;
	width: auto;
}

.hDivider {
    border: none;
}